<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :contact_type %><br />
    <%= f.select :contact_type, ['Phone', 'Text', 'Email']%>
  </div>
  
  <div class="field" id="userrole">
    <%= f.label :'User role' %><br />
    <%= f.select :role_type, ['Realtor', 'Househunter']%>
  </div>
  
  
  <%= f.label :company_id %>
  <%= select("user", "company_id", Company.all.collect{ |c| [ c.name, c.id] }) %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
