<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<h2>Listing all users for admin functionalities only</h2>
    <table>
        <tr>
          <th>User name</th>
          <th>User phone</th>
          <th>User email</th>
          <th>User contact type</th>
          <th>User role</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

         <tr>
            <td><%= @user.name %></td>
            <td><%= @user.phone %></td>
            <td><%= @user.email %></td>
            <td><%= @user.contact_type %></td>
            <td><%= @user.role_type %></td>
        </tr>
    </table>
<%= link_to 'Back to Users', users_url %>
|
