<h1>Real estate companies section</h1>

  <table>
    <tr>
      <th>Company name</th>
      <th></th>
    </tr>

    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', company %></td>
        <% if current_user.admin? || (company.id == current_user.company.id && current_user.role_type == 'Realtor') %>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <% if current_user.admin? && (company.id != 1)%>
            <td><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<br/ >

<% if current_user.role_type == "Realtor" %>
  <td><%= link_to "View current user's company", company_url(current_user) %></td>
<% end %>

<% if current_user.admin? %>
  <td><%= link_to 'Create new company', new_company_url %></td>
<% end %>

<br/ >
<td><%= link_to 'Back to Users', users_url %></td>