
<h2> Company Name: </h2>
<p><%= @company.name %></p>
<h2> Company ID: </h2>
<p><%= @company.id %></p>

<h2>Website:</h2>
<p><%= @company.website %></p>


<h2>Synopsis:</h2>
<p><%= @company.synopsis %></p>



<div>
  <ul class="company-actions">
    <li><%= link_to "Back to Companies", companies_path %></li>
  </ul>
</div>