<h1>Custom Search</h1>

<%= form_for @search do |s| %>
    
    <div class="field">
        <%= s.label :location %><br />
        <%= s.text_field :location %>
    </div>
    
    <div class="field">
        <p><%= s.label :min_price, "Min Price" %> - <%= s.text_field :min_price, size: 10 %></p>
        <p><%= s.label :max_price, "Max Price" %> - <%= s.text_field :max_price, size: 10 %></p>
    </div>
    
    <div class="field">
        <p><%= s.label :min_squarefoot, "Min Square Foot" %> - <%= s.text_field :min_squarefoot, size: 10 %></p>
        <p><%= s.label :max_squarefoot, "Max Sqaure Foot" %> - <%= s.text_field :max_squarefoot, size: 10 %></p>
    </div>
    
    <div class="actions"><%= s.submit "Search" %></div>

<% end %>

<p><%= link_to 'Back to House Listings', houses_path %></p>