<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inquiry.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.message %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @inquiry.user_email %>
</p>

<p>
  <strong>Realtor Email:</strong>
  <%= @inquiry.realtor_email %>
</p>

<p>
  <strong>Realtor Reply:</strong>
  <%= @inquiry.reply %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
